.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___parameter-root {
  border-radius: 10px;
  background-color: #cc9;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 10px 20px 20px;
  width: 100%;
}

.fighter-preview___parameter-head {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.fighter-preview___parameter {
  font-family: 'Arial Black';
}

.fighter-preview___img {
  height: 300px;
  width: auto;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}
